<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftColorArt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftColorArtFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE23BE7A1A6A749200DFE6FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE23BE841A6A749200DFE6FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9BF7101A5C75F800065165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9BF7271A5C75F800065165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
